PORT=3001
NODE_ENV=development

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600000
PREFIX_CACHE=bright-social_

JWT_SECRET=

EMAIL_USER=social.bright123@gmail.com
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=787625187532-r94rvh2b5rflvfdf5b3pp1nk47ljc6m0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04pFkJJpSWO_zCgYIARAAGAQSNwF-L9Ir6o9koy6C6oXMsw-6pSSNLsTWQIDsCsiQcS62xlVTiwNdrxpb_sq8ZSkr4yV72p_9FV0