PORT=3001
NODE_ENV=development

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600000
PREFIX_CACHE=bright-social_

JWT_SECRET=

GOOGLE_CLIENT_ID=503533342476-v212m5n4lemfsbb6ao4tc3hq1kn12h8t.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04gk1eSiKmWloCgYIARAAGAQSNwF-L9IrQpqOpZyOrFBK7b4L_JXntgjdMQOIW-nMoMpitaMN4o6Mykh_19yuz_Bf2nvwbIXYFe8
